body {
  margin: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
i {
  color: red;
}
.card-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
